<div class="list row ">
    <div class="col-md-6 mt-3">
        <h4>Display Lists</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let list of lists; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveList(list, i)">
                List id: {{ list.id }}
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <app-list-details [viewMode]="true" [currentList]="currentList"></app-list-details>
    </div>
</div>
