<div>
    <div class="submit-form">
        <div *ngIf="!created">
            <div class="form-group">
                <label for="description">List</label>
                <input class="form-control" id="listItem" required [(ngModel)]="list.listItem" name="listItem" />
            </div>
            <button (click)="saveList()" class="btn btn-success mt-3">Submit</button>
        </div>
        <div *ngIf="created">
            <h4>List was created successfully!</h4>
            <button class="btn btn-success " (click)="newList()">Add</button>
        </div>
    </div>
</div> 
